name: Deploy React to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy build to EC2
        run: |
          rsync -avz --delete build/ ubuntu@${{ secrets.EC2_HOST }}:/var/www/html/

      - name: Restart Nginx
        run: |
          ssh ubuntu@${{ secrets.EC2_HOST }} "sudo systemctl restart nginx"

